<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Error 500</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>
    <img src="https://wpnow.com.br/wp-content/uploads/2018/04/500-Internal-Server-Error.png" alt=""
        style="height: 100%; width: 100%;">
</body>

</html>