extends layout

block content
    .inner
        form.form(action="/account" method="POST")
            h2 Edit your account
            label(for="name") Name
            input(type="text" name="name" value=locals.user.name required)
            label(for="email") Email
            input(type="email", name="email" value=locals.user.email required)
            input.button(type="submit" value="Submit")