<html>
    <head>
    </head>
    <body>
        <table border="1px">
            <tr>
                <td>id</td>
                <td>nome</td>
            </tr>
            <tr>
                <td>1</td>
                <td>livros de NodeJS</td>
            </tr>
        </table>
    </body>
</html>