@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");

#header {
  display: flex;
  color: #fff;
  background: #3b5998;
  width: 100vw;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  letter-spacing: 0.0625em;
  font-family: "Roboto", sans-serif;
}

#header h1 {
  margin: 0;
  padding: 0;
}
